<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">

</head>
<body>
    <div id='content'>
    {% block content %}
    {% endblock %}
    </div>
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/classes.js"></script>
    <script src="/static/app.js"></script>

</body>
</html>